/* Common devices & browsers starts */

@media screen and (max-width:1024px)
{
    .esriCTApplicationHeaderWrapperContainer
    {
        height: 60px;
    }

    .esriCTApplicationHeaderIconContainer
    {
        height: 60px;
        max-height: 60px;
    }

    .esriCTHeaderIcons
    {
        height: 44px !important;
        width: 44px !important;
        margin: 8px 24px;
    }

    .esriCTApplicationName
    {
        line-height: 60px;
    }

    .esriCTSearchIconContainer
    {
        background-image: url('../images/search.png');
    }

    .esriCTSearchIconContainerDisabled
    {
        background-image: url('../images/search-disable.png');
    }

    .esriCTManualRefreshIconContainer
    {
        float: right;
        background-image: url('../images/manual-refresh.png');
    }

    .esriCTManualRefreshIconContainerDisable
    {
        background-image: url('../images/manual-refresh-disable.png');
    }

    .esriCTHelpIconContainer
    {
        background-image: url('../images/help.png');
    }

    .esriCTSearchContainer
    {
        top: 59px;
    }

    .esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover
    {
        background-color: #fff;
    }
}

/* Common devices & browsers ends */

/* Galaxy tab starts */

@media (min-device-width: 800px) and (max-device-width: 1279px)
{
    .ui-resizable-handle
    {
        background: none;
    }
}

/* Galaxy tab ends */

/* Retina images starts */

@media only screen and (min-device-width : 319px) and (max-device-width : 1280px) and (-webkit-min-device-pixel-ratio: 2)
{
    .ui-resizable-handle
    {
        background: none;
    }
}

/* Retina images ends */