/** Application header container starts **/

.dj_rtl .esriCTApplicationHeaderIconContainer
{
    float: right;
}

.dj_rtl .esriCTApplicationNameContainer
{
    float: right;
}

.dj_rtl .esriCTHelpIconContainer
{
    float: left;
}

.dj_rtl .esriCTSearchIconContainer, .dj_rtl .esriCTSearchIconContainerDisabled
{
    float: left;
}

.dj_rtl .esriCTManualRefreshIconContainer, .dj_rtl .esriCTManualRefreshIconContainerDisable
{
    float: left;
}

.dj_rtl .esriCTApplicationName
{
    text-align: right;
}

/** Application header container ends **/

/** Details panel container starts **/

.dj_rtl .esriCTDetailsPanelWrapperContainer
{
    float: right;
    border-left: 1px solid #bdbdbd;
    border-right: none;
    padding: 20px 0px 0px 0px;
}


.dj_rtl .esriCTCancelCommentButton, .dj_rtl .esriCTCancelPopupButton
{
    float: left;
}

/* Comments panel starts*/

.dj_rtl .esriCTCommentformContainer
{
    right: auto;
}

.dj_rtl .esriCTCommentButton, .dj_rtl .esriCTEditFeatureButton
{
    right: auto;
    left: 8px;
}

.input-group-addon:first-child
{
    border-left: 0;
    border-right: 1px solid;
}

.dj_rtl .esriCTCommentsBadgeContainer
{
    float: right;
    right: auto;
    left: 5px;
}

.dj_rtl .esriCTDetailsPanelTabContainer .badge
{
    float: right;
}
/* Comments panel ends*/

/* Popup panel starts*/

.dj_rtl .esriCTNonImageContainer
{
    float: right;
}

/* Popup panel ends*/

/** Details panel container ends **/

/** Map panel container starts **/

.dj_rtl .esriCTMapPanelWrapperContainer
{
    float: left;
}

.dj_rtl .esriSimpleSliderTL
{
    top: 20px;
    left: auto;
    right: 20px;
}
/** Map panel container ends **/

/** Webmap list panel starts **/

.dj_rtl .esriCTInfoImgRight
{
    float: left;
}

.dj_rtl .esriCTMultiLineEllipsisdiv
{
    margin-left: auto;
    margin-right: 10px;
}

.dj_rtl .esriCTWebMapPanelToggleBtnPosition
{
    right: 40px;
    float: left;
}
.dj_rtl .esriCTWebMapPanelToggleBtnPositionClose
{
    right: 40px;
    float: left;
}

.dj_rtl .esriCTWebMapListWrapperContainer
{
    border-left: 1px solid #cccccc;
    border-right: 0px;
}

/** Webmap list panel ends **/

/** Data viewer container starts **/

.dj_rtl .esriCTTableHeader
{
    float: right;
}

/** Data viewer container ends **/

/** Filter panel container starts **/

.dj_rtl .esriCTFilterLabel
{
    float: right;
}

.dj_rtl .esriCTInputTextBoxDiv, .dj_rtl .esriCTSelectOptionDiv
{
    float: right;
}

.dj_rtl .esriCTInputTextBox
{
    float: right;
    padding-right: 4px;
}

.dj_rtl .esriCTRadioButtonDiv
{
    float: right;
}

.dj_rtl input.esriCTRadioButton
{
    float: right;
    margin: 5px 0 0 5px;
}

.dj_rtl .esriCTRadioButtonLabel
{
    float: right;
    margin: 0 0 0 5px;
}

.dj_rtl .esriCTSelectOption
{
    float: right;
    padding: 3px 1px 4px 0;
}

.dj_rtl .esriCTFilterParentContainer .input-group.date
{
    float: right;
}

.dj_rtl .esriCTDisabledCloseSpan, .dj_rtl .esriCTActiveCloseSpan
{
    float: left;
}

.dj_rtl .esriCTFilterParentContainer .input-group-addon
{
    border-right: 1px solid #959595;
    border-left: 0;
}

.dj_rtl .esriCTBlackCaretIcon, .dj_rtl .esriCTDisableFilterIcon
{
    float: left;
    padding-right: 5px;
    margin-left: 0;
}

.dj_rtl .esriCTFilterIcon
{
    float: left;
    margin: 4px 0 0 5px;
}

/** Filter panel container ends **/

/** Time Slider container start **/
.dj_rtl .esriCTTimeSliderContainer
{
    float: right;
}

.dj_rtl .divTableWithFloatingHeader
{
    width: 100%;
}

.dj_rtl .esriCTTimeSliderTextContainer
{
    float: right;
    text-align: left;
    margin-right: 10px;
    margin-left: 0px;
}

/** Time Slider container end **/


/* Help Dialog start */

.dj_rtl .esriCTClose
{
    float: left;
}

/* Help Dialog ends */

/* Search Panel starts */

.dj_rtl .esriCTSearchContainer
{
    right: auto;
    left: 2px;
}

/* Search Panel ends */

/* Sign-in container starts */

.dj_rtl .esriCTSignInDetailContainer
{
    float: left;
}

.dj_rtl .esriCTSignInUserNameDetails
{
    float: right;
}

.dj_rtl .esriSignedInUserDetailsCaretIcon
{
    padding-left: auto;
    padding-right: 2px;
}

.dj_rtl .esriCTSignOutOption
{
    right: auto;
    left: 75px;
    text-align: right;
}

.dj_rtl .esriCTSignOutOptionErrorMode
{
    right: auto;
    left: 0px;
}

/* Sign-in container ends */