/** Theme style CSS starts **/

/** Application color starts **/

.esriCTApplicationColor
{
    color: ${SelectedThemeColor} !important;
}

/** Application color ends **/

/** Application header starts **/

.esriCTApplicationHeaderContainer
{
    background-color: ${SelectedThemeColor} !important;
}

/** Application header ends **/

/** Background starts **/

.esriCTBGColor
{
    background-color: ${SelectedThemeColor} !important;
}

.esriCTBGLightColor
{
    background-color : ${LighterShadeThemeColor} !important;
}

/** Background ends **/

/** Border starts **/

.esriCTBorder
{
    border-color: ${HeaderTextColor} !important;
}

/** Border ends **/

/** Time Slider starts **/

.claro .dijitSlider .dijitSliderProgressBarH
{
    background-color: ${ButtonBackgroundColor} !important;
}

.claro .dijitSlider .dijitSliderRemainingBarH,
.claro .dijitSlider .dijitSliderRightBumper,
.dijitSlider.dojoxRangeSlider .dijitSliderLeftBumper {
    background-color: ${BodyTextColor} !important;
}

.claro .dijitSliderImageHandleH {
    background-color: ${BodyTextColor} !important;
}

/** Time Slider Ends **/

/** Data viewer starts **/

.esriCTRowHighlighted
{
    background-color: ${HighlightedRowColor} !important;
}

/** Data viewer ends **/

/** Details panel starts **/

.esriCTDetailsPanelWrapperContainer .nav-tabs>li>a:hover
{
    border-top-color: ${HeaderBackgroundColor};
    background-color: ${CalculatedHeaderBackgroundColor};
}

/** Details panel ends **/

/** Webmap list panel starts **/

.esriCTWebMapBorder {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: ${CalculatedBodyTextColor} !important;
}

.esriCTMultiLineEllipsisdiv {
    color: ${BodyTextColor} !important;
}

.esriCTWebMapLayerTitle {
    color: ${BodyTextColor} !important;
}

.esriCTWebMapListWrapperContainer {
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-right-color: ${HeaderTextColor} !important;
}

.esriCTWebMapListContainer {
    background-color: ${CalculatedBodyBackgroundColor} !important;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTWebMapbgColor {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTMediaBody {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTMultiLineFill {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTWebMapbgColor {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate {
    background-color: ${CalculatedBodyBackgroundColor} !important;
}

.esriCTMediaBody {
    background-color: ${CalculatedBodyBackgroundColor} !important;
}

.esriCTWebMapLayer:hover {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTDescription {
    color: ${BodyTextColor} !important;
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTSelectedItem {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTMediaBorder {
    border-color: ${CalculatedBodyTextColor} !important;
}

/** Webmap list panel ends **/

/** Search panel starts **/

.esriCTSearchPanelBorder {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: ${HeaderTextColor} !important;
}

.esriCTSearchIconBGColor
{
    background-color: none;
}

/** Search panel ends **/

/** Comments & Info tab starts **/

.esriCTCommentsParentDiv .esriViewPopup .hzLine,
.esriCTPopupInfoParentContainer .esriViewPopup .hzLine
{
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: ${CalculatedBodyTextColor} !important;
}

.esriCTCommentsParentDiv .esriViewPopup .mainSection .attrTable td.attrName,
.esriCTPopupInfoParentContainer .esriViewPopup .mainSection .attrTable td.attrName
{
    color: ${CalculatedBodyTextColor} !important;
}

.esriCTCommentsParentDiv .esriViewPopup .mainSection .attrTable td,
.esriCTPopupInfoParentContainer .esriViewPopup .mainSection .attrTable td
{
    color: ${BodyTextColor} !important;
}

.esriCTCommentsParentDiv .esriViewPopup .header,
.esriCTPopupInfoParentContainer .esriViewPopup .header
{
    color: ${BodyTextColor} !important;
}

.esriCTPostCommentButton, .esriCTPostCommentButton:hover,
.esriCTPostPopupButton, .esriCTPostPopupButton:hover
{
      background-color: ${ButtonTextColor} !important;
      color: ${ButtonBackgroundColor} !important;
}

.esriCTCancelCommentButton, .esriCTCancelCommentButton:hover,
.esriCTCancelPopupButton, .esriCTCancelPopupButton:hover
{
    background-color: ${ButtonBackgroundColor} !important;
    color: ${ButtonTextColor} !important;
}

.esriCTAddCommentAttachmentsButton, .esriCTAddCommentAttachmentsButton:hover
{
    background-color: ${ButtonBackgroundColor} !important;
    color: ${ButtonTextColor} !important;
}

.esriCTDetailsPanelWrapperContainer .nav-tabs>li.active>a {
    background-color: ${CalculatedBodyBackgroundColor} !important;
    color: ${BodyTextColor} !important;
}

.esriCTDetailsPanelWrapperContainer .nav-tabs.nav-justified>.active>a {
    border-bottom-color: ${CalculatedBodyBackgroundColor} !important;
}

.esriCTAddCommentsBtnWrapperContainer:hover {
    background-color: ${ButtonTextColor} !important;
    color: ${ButtonBackgroundColor} !important;
}

.esriCTPopupInfoContainer .esriCTAttachmentHeader, .esriCTCommentsContainer .esriCTAttachmentHeader {
    color: ${BodyTextColor} !important;
    border-bottom-color: ${CalculatedBodyTextColor} !important;
}

/** Comments & Info tab ends **/

/** Manual refresh, selection option & search icon starts **/

.esriCTManualRefreshIconContainer, .esriCTSearchIconContainer, .esriCTSelectionOptionsContainerEnabled {
    color: ${HeaderTextColor} !important;
}

.esriCTManualRefreshIconContainerDisable, .esriCTSearchIconContainerDisabled, .esriCTSelectionOptionsContainerDisabled {
    color: ${CalculatedHeaderTextColor} !important;
}

/** Manual refresh, selection option & search icon ends **/

/** Org theming classes starts **/

.esriCTBodyBackgroundColor {
    background-color: ${BodyBackgroundColor} !important;
}

.esriCTCalculatedBodyBackgroundColor {
    background-color: ${CalculatedBodyBackgroundColor} !important;
}

.esriCTBodyTextColor {
    color: ${BodyTextColor} !important;
}

.esriCTCalculatedBodyTextColor {
    color: ${CalculatedBodyTextColor} !important;
}

.esriCTHeaderBackgroundColor {
    background-color: ${HeaderBackgroundColor} !important;
}

.esriCTCalculatedHeaderBackgroundColor {
    background-color: ${CalculatedHeaderBackgroundColor} !important;
}

.esriCTHeaderTextColor {
    color: ${HeaderTextColor} !important;
}

.esriCTCalculatedHeaderTextColor {
    color: ${CalculatedHeaderTextColor} !important;
}

.esriCTButtonBackgroundColor {
    background-color: ${ButtonBackgroundColor} !important;
}

.esriCTButtonTextColor {
    color: ${ButtonTextColor} !important;
}

.esriCTHeaderTextColorAsBorder {
    border-color: ${HeaderTextColor} !important;
}

.esriCTHeaderTextColorAsBackground {
    background-color: ${HeaderTextColor} !important;
}

.esriCTHeaderBackgroundColorAsTextColor {
    color: ${HeaderBackgroundColor} !important;
}

.esriCTHeaderBackgroundColorAsBorder {
    border-color: ${HeaderBackgroundColor} !important;
}

.esriCTCalculatedBodyTextColorAsBackground {
    background-color: ${CalculatedBodyTextColor} !important;
}

.esriCTCalculatedBodyTextColorAsBorder {
    border-color: ${CalculatedBodyTextColor} !important;
}

.esriCTCalculatedHeaderTextColorAsBorder {
    border-color: ${CalculatedHeaderTextColor} !important;
}


/** Org theming classes ends **/

/** Theme style CSS ends **/