<div class="esriCTApplicationHeaderContainer esriCTHeaderBackgroundColor" data-dojo-attach-point="applicationHeaderContainer">
    <div class="esriCTApplicationHeaderIconContainer" data-dojo-attach-point="applicationHeaderIconContainer">
        <img class="esriCTApplicationHeaderIcon" data-dojo-attach-point="applicationHeaderIcon" />
    </div>
    <div class="esriCTApplicationNameContainer esriCTHeaderTextColor" data-dojo-attach-point="applicationNameContainer">
        <div class="esriCTApplicationName" data-dojo-attach-point="applicationHeaderName">
        </div>
    </div>
    <div class="esriCTSignInDetailContainer" data-dojo-attach-point="signedInUserDetailsContainer">
        <div class="esriCTSignInUserNameDetailsWrap" data-dojo-attach-point="signedInUserDetailsWrapper">
            <div class="esriCTSignInUserNameDetails esriCTPointerCursor esriCTHeaderTextColor" data-dojo-attach-point="signedInUserDetails">
            </div>
            <div class="esriSignedInUserDetailsCaretIcon esriCTPointerCursor esriCTHidden esriCTHeaderTextColor" data-dojo-attach-point="signedInUserDetailsCaretIcon">
                &#9660;
            </div>
        </div>
    </div>
    <div class="esriCTSeparator esriCTCalculatedHeaderTextColorAsBorder" data-dojo-attach-point="signInSeparator">
    </div>
    <div class="esriCTHelpIconContainer esriCTHeaderIcons esriCTPointerCursor esriCTHidden esriCTHeaderTextColor esrictfonticons esrictfonticons-help-1" data-dojo-attach-point="helpButton">
    </div>
    <div class="esriCTManualRefreshIconContainerDisable esriCTHeaderIcons esriCTDefaultCursor esrictfonticons esrictfonticons-refresh" data-dojo-attach-point="refreshButton">
    </div>
    <!--search icon-->
    <div class="esriCTSearchIconContainerDisabled esriCTHeaderIcons esriCTDefaultCursor esrictfonticons esrictfonticons-search" data-dojo-attach-point="searchButton">
    </div>
    <div data-dojo-attach-point="searchContainer" class="esriCTSearchContainer">
    </div>
    <!--sign out option-->
    <div class="esriCTSignOutOption esriCTBorder esriCTHidden esriCTApplicationColor esriCTHeaderTextColor esriCTHeaderBackgroundColor esriCTHeaderTextColorAsBorder" data-dojo-attach-point="signOutOptionParentContainer">
        <div data-dojo-attach-point="signOutOption">
        </div>
    </div>
</div>
