<div>
    <ul class="nav nav-tabs nav-justified">
        <li id="popupTab" class="active"><a data-toggle="pill" href="#popup">Popup</a></li>
        <li id="mediaTab"><a data-toggle="pill" href="#media">Media</a></li>
        <li id="commentsTab" style="display: none;"><a data-toggle="pill" href="#comments">${i18n.commentsPanel.commentsText}</a></li>
    </ul>
    <div class="tab-content">
        <div id="popup" class="tab-pane fade active in">
            <div id="popupWrapperContainer">
                Popup tab coming soon...
            </div>
        </div>
        <div id="media" class="tab-pane fade">
            <div id="mediaWrapperContainer">
                Media tab coming soon...
            </div>
        </div>
        <div id="comments" class="tab-pane fade">
            <div id="commentsWrapperContainer">
            </div>
        </div>
    </div>
</div>
